


@using HotelRoomBookingLibrary;
@model List<SelectedRoomsViewModel>
@{
    ViewData["Title"] = "AvailableRooms";
}

<h2>AvailableRooms</h2>


<form asp-action="SelectedRooms" asp-controller="SearchApp" method="post">
    <div>
        <div class="col-md-10"></div>
        <div class="col-md-2">
            <input type="submit" value="Book Rooms"  class="btn btn-success"/>
        </div>
    </div>
    <table width="1000">
        <tr>
            @*<td><label>HotelId</label></td>*@
            <td><label>HotelName</label></td>
            <td><label>City</label></td>
            <td><label>RoomId</label></td>
            <td><label>HotelContact</label></td>
            <td><label>RoomPrice</label></td>
           <td></td>
        </tr>

        @for (int i = 0; i < Model.Count; i++)
        {
        <tr>

            <td>
                <label>@Model[i].HotelName</label>
                <input type="hidden" value="@Model[i].HotelName" name="[@i].HotelName" />
            </td>

            <td>
                <label>@Model[i].City</label>
                <input type="hidden" value="@Model[i].City" name="[@i].City" />
            </td>

            <td>
                <label>@Model[i].RoomId</label>
                <input type="hidden" value="@Model[i].RoomId" name="[@i].RoomId" />
            </td>

            <td>
                <label>@Model[i].HotelContact</label>
                <input type="hidden" value="@Model[i].HotelContact" name="[@i].HotelContact" />
            </td>

            <td>
                <label>@Model[i].RoomPrice</label>
                <input type="hidden" value="@Model[i].RoomPrice" name="[@i].RoomPrice" />
            </td>


            <td>
                <label>Select Room</label>
                <input type="checkbox" asp-for="@Model[i].Selected" style="transform:scale(2,2)" />
            </td>

            <td>
                @*<img src="@Model[i].H"/>*@
            </td>

        </tr>

        }


    </table>


</form>

