@using HotelRoomBookingLibrary;
@{
    ViewData["Title"] = "SelectedRooms";
    HotelSearchDetails info = (HotelSearchDetails)ViewData["userSearchInfo"];
    List<SelectedRoomsViewModel> list = (List<SelectedRoomsViewModel>)ViewData["selectedRooms"];
    decimal totalAmount = (decimal)ViewData["total"];

}

<h2><center>FinalView</center></h2>

<style>
    .blank_row {
        height: 10px !important; /* overwrites any other rules */
        background-color: #FFFFFF;
    }
</style> 

<div>
    <center><h1> <label>Summary</label></h1></center>
    <br /><br /><br /><br /><br />

    <tr>
        <th>Hotel Name</th>
        <td>@l</td>
    </tr>

    <table align="center" border="0">

        @foreach (var i in list)

        {

            @*<tr>
                    <th>Hotel Name</th>
                    <td>@i.HotelName</td>
                </tr>*@

            <tr>
                <th>Room Number</th>
                <td>@i.RoomId</td>
            </tr>

            <tr>
                <th width="200px">Hotel Contact</th>
                <td>@i.HotelContact</td>
            </tr>

            <tr>
                <th>Check In</th>
                <td>@i.CheckIn</td>
            </tr>

            <tr>
                <th>Check Out</th>
                <td>@i.CheckOut</td>
            </tr>

            <tr class="blank_row">
                <td colspan="3"></td>
            </tr>

        }

    </table>
    <br /><br />
    <center>
        <label>Total Amount @totalAmount</label>
        <br /><br /><br />

        <button class="btn btn-primary" asp-controller="SearchApp" asp-action="HomeView">Cancel</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;<button class="btn btn-primary" asp-controller="PaymentApp" asp-action="Payment">Proceed to Payment</button>
    </center>

</div>